<section class="welcome">
  <div class="svg">
    <img src="./media/images/sections/Moon.png" loading="lazy" alt="">
  </div>
  <div class="container textContainer" [ngClass]="{ arbicFont: lang === 'ar' }">
    <p class="text-uppercase">
      {{ "make it all seamless and efficient" | translate }}
    </p>
    <br />
    <span text-uppercase class="title">{{ "PORTFOLIO" | translate }}</span>
    <span text-uppercase class="title">{{ "CONNECTION" | translate }}.</span>
    <span text-uppercase class="title">{{ "JOPS" | translate }}.</span>
    <div class="mt-2">
      <button
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        [ngClass]="{ arbicFont: lang === 'ar' }"
      >
        {{ "START NOW" | translate }}
        <i
          class="fa-solid fa-arrow-{{ 'ARROW-DIRECTION' | translate }} mx-2"
        ></i>
      </button>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        aria-label="Close"
      > <i class="fas fa-close"></i> </button>

      <div class="modal-body">
        <div class="mat-typography">
          <div routerLink="/portfolio" data-bs-dismiss="modal"  class="choiseComponent portfolio">
            <img src="./media/images/sections/Change this.png" alt="" />
            <p class="choise" >
               {{ 'PORTFOLIO' | translate }}
            </p>

          </div>

          <div class="choiseComponent" data-bs-dismiss="modal" routerLink="/uspace/company">
            <img
              src="./media/images/sections/pexels-photo-374023.jpeg"
              alt=""
            />
            <p class="choise">
               {{ 'COMPANIES' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
