<div [class.hideSetting]="showNav">
  <section>
    <ul class="main" [class.min]="toggle">
      <li
        routerLink="home"
        routerLinkActive="active"
        data-title="{{ 'HOME' | translate }}"
      >
        <i class="fas fa-home trans"></i> <p>{{ 'HOME' | translate }}</p>
      </li>
      <li
        routerLink="createportfolio"
        routerLinkActive="active"
        data-title="{{ 'ABOUT' | translate }}"
      >
        <i class="fas fa-users trans"></i> <p>{{ 'ABOUT' | translate }}</p>
      </li>

      <li
        routerLink="/profile"
        routerLinkActive="active"
        data-title="{{ 'PROFILE' | translate }}"
      >
        <i class="fas fa-user trans"></i> <p>{{ 'PROFILE' | translate }}</p>
      </li>
      <li (click)="changeToggle()">
        <i [ngClass]="toggle ? 'fas fa-close' : 'fa fa-ellipsis-h'"></i>
      </li>
    </ul>

    <ul class="main hide" [class.more]="toggle">
      <li
        routerLink="/portfolio"
        routerLinkActive="active"
        data-title="{{ 'PORTFOLIO' | translate }}"
      >
        <i class="fas fa-palette trans"></i> <p>{{ 'PORTFOLIO' | translate }}</p>
      </li>
      <li
        routerLink="/company"
        routerLinkActive="active"
        data-title="{{ 'COMPANIES' | translate }}"
      >
        <i class="fas fa-briefcase trans"></i> <p>{{ 'COMPANIES' | translate }}</p>
      </li>
      <li
        routerLink="/setting"
        routerLinkActive="active"
        data-title="{{ 'SETTING' | translate }}"
      >
        <i class="fas fa-cog trans" ></i> <p>{{ 'SETTING' | translate }}</p>
      </li>
      <li (click)="changeToggle()">
        <i [ngClass]="toggle ? 'fas fa-close' : 'fa fa-ellipsis-h'"></i>
      </li>
    </ul>
  </section>
</div>
<div class="modeContainer" [class.hideSetting]="!showSetting">
  <div class="d-flex align-items-center justify-content-evenly ">
    <app-mode-btn />
    <div>
      <button (click)="showSideBar()">
        <i class="fas fa-rotate"></i>
      </button>
    </div>
  </div>
  <app-lang-btn />
</div>
<button
  class="settingMode"
  (click)="changeSetting()"
>
  <i
    class="fas"
    [class.fa-bars]="!showSetting"
    [class.fa-close]="showSetting"
  ></i>
</button>
