<section>
  <div class="header">
    <p class="itembg"><i class="fas fa-image"></i> Galary</p>
    <div class="btns">
      <button [disabled]="leftDisable" (click)="left()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button [disabled]="rightDisable" (click)="right()">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="galary row">
    @for(certification of certifications ; track certification.id ){
    <div  #cardWidth class="galary-item col-md-4 col-lg-3" [style.transform]="'translateX(' + translateX + 'px)'">
      <img [src]="baseUrl + certification.image" [alt]="certification.title"  loading="lazy" />
    </div>
    }
  </div>
</section>
