.home_section {
  padding: 30px 17px;
  background-color: var(--portfolio-sections-bg);
  color: var(--text-color) !important;
  box-shadow: 0px 0px 4px 1px var(--portfolio-sections-shadow);
}

.inputContainer {
  margin: 10px 0;
}

.experience-header {
  position: relative;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.btn-remove {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

input,
.mat-mdc-select-value {
  color: var(--text-color) !important;
}

mat-hint {
  color: darkorange !important;
}

label {
  color: var(--icon-colorforSectionbg) !important;
}

.mdc-text-field--filled {
  color: var(--icon-colorforSectionbg) !important;
  background-color: gray !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  color: var(--text-color) !important;
  background-color: transparent !important;
}

mat-form-field {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-dialog {
  color: black !important;
}
