<div class="details row">
  <div class="col-md-4">
    <div class="item">
      <p class="num">{{portfolioDetails.experienceYear}}+</p>
      <div class="dec">Years of Experience</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="item">
      <p class="num">{{portfolioDetails.graduate}}+</p>
      <div class="dec">Years of Graduate</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="item">
      <p class="num">{{portfolioDetails.projectNumber}}+</p>
      <div class="dec">Completed Projects</div>
    </div>
  </div>
</div>
