
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}


.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172838;
  overflow: hidden;
}
