<section>
  <h1 class="text-white fw-bold">{{ "OUR SERVICE" | translate }}</h1>
  <div class="cards">
    <div class="card_item row">
      <div class="img col-12 col-md-6">
        <img src="./media/images/sections/Change this.png" alt=""  loading="lazy" />
      </div>
      <div class="text col-12 col-md-6">
        <p>
          {{ "CREATE_PORTFOLIO_TITLE" | translate }}
        </p>
        <span>
          {{ "CREATE_PORTFOLIO_DESC" | translate }}
        </span>
        <div class="feature_section">
          <div class="feature">
            <div class="feature_icon">
              <i class="fas fa-bolt"></i>
            </div>
            <div class="feature_text">
              {{ "Fast_building" | translate }}
            </div>
          </div>
          <div class="feature">
            <div class="feature_icon">
              <i class="fas fa-pen"></i>
            </div>
            <div class="feature_text">
              {{ "Easy_to_edit" | translate }}
            </div>
          </div>
          <div class="feature">
            <div class="feature_icon">
              <i class="fas fa-mobile-screen"></i>
            </div>
            <div class="feature_text">
              {{ "Responsiveness" | translate }}
            </div>
          </div>
          <div class="feature">
            <div class="feature_icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="feature_text">
              {{ "No_code_needed" | translate }}
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-5" >
          <button class="btn">
            {{ "learn_more" | translate }}
            <i
              class="fa-solid fa-arrow-{{ 'ARROW-DIRECTION' | translate }} mx-2"
            ></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
