<section>
  <div class="cards">
    <div class="card_item row d-flex flex-row-reverse ">
      <div class="img col-12 col-md-6">
        <img src="./media/images/sections/pexels-photo-374023.jpeg" alt=""  loading="lazy" />
      </div>
      <div class="text col-12 col-md-6">
        <p>
          {{ "FIND_JOP_TITLE" | translate }}
        </p>
        <span>
          {{ "FIND_CREATE_JOP_DESC" | translate }}
        </span>
        <div class="feature_section">
          <div class="feature">
            <div class="feature_icon">
              <i class="fas fa-file"></i>
            </div>
            <div class="feature_text">
              {{ "Easy_apply" | translate }}
            </div>
          </div>
          <div class="feature">
            <div class="feature_icon">
              <i class="fas fa-search"></i>
            </div>
            <div class="feature_text">
              {{ "Advanced_Search" | translate }}
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-5" >
          <button class="btn">
            {{ "learn_more" | translate }}
            <i
              class="fa-solid fa-arrow-{{ 'ARROW-DIRECTION' | translate }} mx-2"
            ></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
