:root {
  --text-color: black;
  --text-colorSidebar: rgb(243, 241, 241);
  --sidebar-bg: #2D336B;
  --body-bg: #370d3d;
  --mode-bg: rgb(243, 111, 37);
  --title-font: "Orbitron";
  --section-bg: white;
  --sectionItem-color: white;
  --sectionItem-bg: black;
  --icon-colorforSectionbg : black ;
  --commentContainer-bg : orange ;
  --comment-bg : aliceblue ;
  --coment-text : black ;
  --footer-bg: white ;


  /* ################# Portfolio theme ########### */
  --portfolio-bg : #F6F8FB ;
  --portfolio-hover-bg : #F6F8FB ;
  --portfolio-sections-bg : white ;
  --portfolio-user-bg : #9ecbf738 ;
  --portfolio-sections-shadow : #00000014 ;
  --portolio-list-hover : #9ecbf738 ;
  --input-border : #9ecbf7de ;





}

.dark-theme {
  --text-color: rgb(250, 247, 247);
  --text-colorSidebar: rgb(250, 247, 247);
  --sidebar-bg: #161717;
  --body-bg: black;
  --mode-bg: black;
  --section-bg: black;
  --sectionItem-color: black;
  --sectionItem-bg: white;
  --icon-colorforSectionbg : greenyellow ;
  --commentContainer-bg : orange ;
  --comment-bg : black ;
  --coment-text : white ;
  --footer-bg: #212529 ;

    /* ################# Portfolio theme ########### */
    --portfolio-bg : black ;
    --portfolio-sections-bg : #04080B ;
    --portfolio-sections-shadow : #f7f7f71f;;
    --portfolio-user-bg : #071418 ;
    --portfolio-hover-bg : #071418;
    --portolio-list-hover : #0d6efd ;
    --input-border : blueviolet ;




}
.text-jop{
  color: var(--coment-text);
  opacity: .6;
}
